-#  This file is app/views/movies/index.html.haml
%h1 Login
= form_tag check_url, :method => :post  do

  = label :employee, :username, 'Username'
  = text_field :employee, 'username'

  = label :employee, :password, 'Password'
  = text_field :employee, 'password'
  %br
  %br

  = submit_tag 'Check Employee Credentials'

        