-#  This file is app/views/employees/punch_hours.html.haml
%h1 Punch Hours
%h2 
    Welcome
    = @employee.first_name
    
%h3 Please enter hours for this week 
= form_tag view_hours_url, :method => :post do
    = label :employee, :hours_worked, 'Hours Worked'
    = text_field :employee, 'hours_worked'
%br
    = submit_tag 'Click this button'
