-#  This file is app/views/employees/punch_hours.html.haml

%h1 Punch Hours      
%h2 
    Welcome
    = @employee.first_name
    %h5
        -if @employee.isManager == 0
            = link_to 'Approve/Deny Hours', manager_view_hours_url
        %br
        %br
        =link_to "View Submitted Hours", view_hours_url
    %h3 OR
    
%h3 Please enter hours for this week
= form_tag add_hours_url, :method => :post do
    = label :employee_hour, :hours, 'Hours Worked'
    = text_field :employee_hour, 'hours'
    %br
    = submit_tag 'Click this button'
    %br
   
    
